
<h1>Comentarios</h1>
<br>
<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Ver Comentario", comment %>
    </p>
    <div class="row" id="btnPublish_id">
      <%= link_to "Regresar a inicio", publishes_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>

