<div id="<%= dom_id publish %>">
  
  <p>
    <strong>Creado:</strong>
    <%= publish.created_at.to_date %>
  </p>
  
  <p>
    <strong>Titulo:</strong>
    <%= publish.title %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= publish.content %>
  </p>

</div>
