<h1>Editing publish</h1>

<%= render "form", publish: @publish %>

<br>

<div>
  <%= link_to "Mostrar publicación", @publish %> |
  <%= link_to "Regresar al inicio", publishes_path %>
</div>
