<div class="container">
  <div id="search" class="buscar">            
    <input type="text" placeholder="Buscar" required />      
    <div id="btn" class="btn">
      <i id="icon-search" class="bi bi-search"></i>
    </div>
  </div>

  <p style="color: green"><%= notice %></p>

<h1>Publicaciones</h1>

<div id="publishes">

  <% @publishes.each do |publish| %>
    <%= render publish %>
    <p>
      <%= link_to "Show this publish", publish %>
    </p>
  <% end %>
</div>

<%= link_to "New publish", new_publish_path %>

</div>






