#nav{
    /* background-color: #FFC300 !important; */
}

body{
    /* content: "";*/
    /* position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    /* background-image: url(<%= image_tag("")%>);  */
    /* background-size: 100%; 
    opacity: 25%; */
}

#logout{
 
}
