<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="btn-group" role="group">
      <button type="button" id="menu" class="btn navbar-toggler-icon"></button>
      <a id="name_ucode" href="/">Universal Code</a>
    </div>              
    <div class="btn-group" role="group">   
      <%= button_to '', user_session_path, class: 'btn btn-light bi bi-person-fill', id:'btnSign_in' %>
      <%= button_to '', destroy_user_session_path, method: :delete, form: {data: {turbo_confirm: 'Esta seguro?'}}, class: 'btn btn-light bi bi-door-closed', id:'btnLogout' %>     
    </div>
  </div>
</nav>